{
    "blacklist": [
        "http://www.w3.org/2002/07/owl#ObjectProperty",
        "http://www.w3.org/2002/07/owl#NamedIndividual",
        "http://www.w3.org/2002/07/owl#Ontology",
        "http://www.w3.org/2002/07/owl#FunctionalProperty",
        "http://www.w3.org/2000/01/rdf-schema#subClassOf",
        "http://www.w3.org/2000/01/rdf-schema#range",
        "http://www.w3.org/2000/01/rdf-schema#domain",
        "http://www.w3.org/2002/07/owl#imports"
    ],
    "colors": {
        "class": "#1f77b4",
        "literal": "#ff7f0e",
        "instance": {
            "http://custom_data.com#User": "y",
            "http://custom_data.com#Trajectory": "m",
            "http://custom_data.com#Checkin": "r",
            "http://custom_data.com#POI": "g",
            "http://custom_data.com#POICategory": "b",
            "http://custom_data.com#Month": "b",
            "http://custom_data.com#DayOfTheWeek": "b",
            "http://custom_data.com#TrajectoryCategory": "b",
            "http://custom_data.com#Time": "b",
            "http://purl.org/net/step#Agent": "y",
            "http://purl.org/net/step#Trajectory": "m",
            "http://purl.org/net/step#Episode": "r",
            "http://step_data.com#POI": "g",
            "http://purl.org/net/step#QualitativeDescription": "b",
            "http://purl.org/net/step#FeatureOfInterest": "#AAAAAA",
            "default": "#AAAAAA"
        },
        "filled": true
    }
}
